$white: #fff;

$cool-grey-0: #1F2933;
$cool-grey-1: #323F4B;
$cool-grey-2: #3E4C59;
$cool-grey-3: #52606D;
$cool-grey-4: #616E7C;
$cool-grey-5: #7B8794;
$cool-grey-6: #9AA5B1;
$cool-grey-7: #CBD2D9;
$cool-grey-8: #E4E7EB;
$cool-grey-9: #F5F7FA;

$vivid-purple-0: #080986;
$vivid-purple-1: #1919b6;
$vivid-purple-2: #312edd;
$vivid-purple-3: #4943ee;
$vivid-purple-4: #5b59f1;
$vivid-purple-5: #6e6cf1;
$vivid-purple-6: #888af5;
$vivid-purple-7: #a2a6f6;
$vivid-purple-8: #c5c7fb;
$vivid-purple-9: #e6e6fd;
