$white: #fff;

$cool-grey-0: #1f2933;
$cool-grey-1: #323f4b;
$cool-grey-2: #3e4c59;
$cool-grey-3: #52606d;
$cool-grey-4: #616e7c;
$cool-grey-5: #7b8794;
$cool-grey-6: #9aa5b1;
$cool-grey-7: #cbd2d9;
$cool-grey-8: #e4e7eb;
$cool-grey-9: #f5f7fa;

$vivid-purple-0: #080986;
$vivid-purple-1: #1919b6;
$vivid-purple-2: #312edd;
$vivid-purple-3: #4943ee;
$vivid-purple-4: #5b59f1;
$vivid-purple-5: #6e6cf1;
$vivid-purple-6: #888af5;
$vivid-purple-7: #a2a6f6;
$vivid-purple-8: #c5c7fb;
$vivid-purple-9: #e6e6fd;
