.uprofiler-content {
  position: fixed;
  bottom: 10px;
  left: 15px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-variant-numeric: tabular-nums;
}

.uprofiler-toggle {
  display: none;
}

.uprofiler-label {
  display: block;
  background: coral;
  border: 1px solid #000;
  padding: 6px 12px;
  color: #fff;
  font-family: courier;
}

.uprofiler-timings {
  display: none;
  background: #fff;
  border: 1px solid #000;
  color: #000;

  &-inner {
    padding: 12px;
    display: block;
    max-height: 400px;
    overflow-y: scroll;
  }
}

.uprofiler-close {
  display: block;
  padding: 6px 12px;
  background: #000;
  color: #fff;
  font-family: courier;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.uprofiler-toggle:checked ~ .uprofiler-label {
  display: none;
}

.uprofiler-toggle:checked ~ .uprofiler-timings {
  display: block;
}

.uprofiler-timing {
  display: block;
  margin: 0 0 0 10px;
  padding: 6px 0 0 6px;
  border: 2px solid transparent;
  border-left: 1px dashed #ddd;
  border-right: none;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;

  label {
    &:before {
      content: "▶ ";
    }
  }

  &:hover {
    background: rgba(darkblue, 0.02);
    border-color: black;
  }

  &-label,
  &-duration,
  &-description {
    margin-right: 5px;
  }

  &-label {
    font-weight: bold;
  }

  &-duration {
    color: darkblue;
    font-family: courier;
    font-weight: bold;
  }

  &-description {
    display: inline-block;
  }

  &-toggle {
    display: none;
  }

  .uprofiler-timing {
    display: none;
  }

  &-toggle:checked ~ label:before {
    content: "▼ ";
  }

  &-toggle:checked ~ .uprofiler-timing {
    display: block;
  }
}

.uprofiler-timings-inner > .uprofiler-timing {
  border-right: 1px solid transparent;
  margin: 0;

  &:hover {
    background: rgba(darkblue, 0.02);
    border-color: black;
  }

}
