.uprofiler-content {
  bottom: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-variant-numeric: tabular-nums;
  left: 15px;
  position: fixed;
}

.uprofiler-toggle {
  display: none;
}

.uprofiler-label {
  background: coral;
  border: 1px solid black;
  color: white;
  display: block;
  font-family: courier, monospace;
  padding: 6px 12px;
}

.uprofiler-timings {
  background: white;
  border: 1px solid black;
  color: black;
  display: none;

  &-inner {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    padding: 12px;
  }
}

.uprofiler-close {
  background: black;
  color: white;
  display: block;
  font-family: courier, monospace;
  font-size: 0.8rem;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
}

.uprofiler-toggle:checked ~ .uprofiler-label {
  display: none;
}

.uprofiler-toggle:checked ~ .uprofiler-timings {
  display: block;
}

.uprofiler-timing {
  border: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 1px dashed #ddd;
  border-right: none;
  display: block;
  margin: 0 0 0 10px;
  padding: 6px 0 0 6px;
  transition: all 0.1s;

  label {
    &::before {
      content: '▶ ';
      margin-right: 4px;
    }

    display: grid;
    grid-template-columns: auto auto auto 1fr;

    .uprofiler-timing-duration {
      justify-self: end;
    }
  }

  &:hover {
    background: rgba(darkblue, 0.02);
    border-color: black;
  }

  &-label,
  &-duration,
  &-description {
    margin-right: 5px;
  }

  &-label {
    font-weight: bold;
  }

  &-duration {
    color: darkblue;
    font-family: courier, monospace;
    font-weight: bold;
  }

  &-description {
    display: inline-block;
  }

  &-db-statements {
    color: darkblue;
    display: inline-block;
    margin: 4px 0px 2px 12px;
  }

  &-toggle {
    display: none;
  }

  .uprofiler-timing {
    display: none;
  }

  &-toggle:checked ~ label::before {
    content: '▼ ';
  }

  &-toggle:checked ~ .uprofiler-timing {
    display: block;
  }
}

.uprofiler-timings-inner > .uprofiler-timing {
  border-right: 1px solid transparent;
  margin: 0;

  &:hover {
    background: rgba(darkblue, 0.02);
    border-color: black;
  }
}
