on: [push, pull_request]
name: CI/CD
jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12.2
        env:
          POSTGRES_USER: example
          POSTGRES_PASSWORD: example
          POSTGRES_DB: example
        ports:
          - 5432/tcp
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Install Racket
      uses: Bogdanp/setup-racket@master
      with:
        version: "7.6"

    - name: Install pkg and deps
      run: raco pkg install --batch --auto koyo-lib/ koyo-doc/ koyo-test/ koyo/

    - name: Run tests for koyo itself
      run: raco test -j 4 koyo-test/
      env:
        KOYO_DATABASE_TESTS: x
        KOYO_TEST_DB_HOST: 127.0.0.1
        KOYO_TEST_DB_PORT: ${{ job.services.postgres.ports[5432] }}
        KOYO_TEST_DB_NAME: example
        KOYO_TEST_DB_USERNAME: example
        KOYO_TEST_DB_PASSWORD: example

    - name: Run tests for standard blueprint
      run: ci/test-standard-blueprint.sh
      env:
        EXAMPLE_TEST_DB_HOST: 127.0.0.1
        EXAMPLE_TEST_DB_PORT: ${{ job.services.postgres.ports[5432] }}
        EXAMPLE_TEST_DB_NAME: example
        EXAMPLE_TEST_DB_USERNAME: example
        EXAMPLE_TEST_DB_PASSWORD: example

    - name: Deploy docs
      run: ci/docs.sh
      env:
        KOYO_DOCS_DEPLOY_KEY_PASSPHRASE: ${{ secrets.KOYO_DOCS_DEPLOY_KEY_PASSPHRASE }}
        KOYO_DOCS_SSH_HOST: ${{ secrets.KOYO_DOCS_SSH_HOST }}
        KOYO_DOCS_SSH_PORT: ${{ secrets.KOYO_DOCS_SSH_PORT }}
